.content {
  padding-inline: var(--pad-inline);
  padding-block: 2rem;
  max-width: 845px;
  margin-inline: auto;
}

@media screen and (min-width: 1080px) {
  .content {
    padding-block-start: 8rem;
  }
}