:root {
  font-family: Heebo, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  font-weight: 500;
  color: #8a90ff;
  text-decoration: underline;
}
a:hover {
  color: #b3b7ff;
}

h1 {
  font-size: 2.4em;
  line-height: 1.2;
}
